$charade: #282a37;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.troot {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;

  div {
    width: 1rem;
    height: 1rem;
    margin: 2rem 0.3rem;
    background: $charade;
    border-radius: 50%;
    animation: 0.15s bounce infinite alternate;

    &:nth-child(2) {
      animation-delay: 0.05s;
    }

    &:nth-child(3) {
      animation-delay: 0.1s;
    }
  }
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -2em, 0);
  }
}
