@font-face {
  font-family: "Arial";
  src: url("/assets/fonts/Arial.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "Arial Black";
  src: url("/assets/fonts/ArialBlack.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "EBS훈민정음";
  src: url("/assets/fonts/EBS훈민정음.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Kotra Bold";
  src: url("/assets/fonts/KotraBold.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "건축조각체";
  src: url("/assets/fonts/건축조각체.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "기후위기";
  src: url("/assets/fonts/기후위기.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "길벗";
  src: url("/assets/fonts/길벗.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "램체";
  src: url("/assets/fonts/램체.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "영도바다체";
  src: url("/assets/fonts/영도바다체.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "인천교육자람체";
  src: url("/assets/fonts/인천교육자람체.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "태백은하수체";
  src: url("/assets/fonts/태백은하수체.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "평창평화체";
  src: url("/assets/fonts/평창평화체.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "학교안심우주";
  src: url("/assets/fonts/학교안심우주.woff2") format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: "한글재민체";
  src: url("/assets/fonts/한글재민체.woff2") format("woff2");
  font-display: fallback;
}
