@font-face {
  font-family: 'Arial';
  src: url('./../../assets/Fonts/Arial.woff') format('woff');
}

@font-face {
  font-family: 'EBS훈민정음';
  src: url('./../../assets/Fonts/EBS훈민정음.woff') format('woff');
}

@font-face {
  font-family: '건축조각체';
  src: url('./../../assets/Fonts/건축조각체.woff2') format('woff2');
}

@font-face {
  font-family: '기후위기';
  src: url('./../../assets/Fonts/기후위기.woff2') format('woff2');
}

@font-face {
  font-family: '길벗';
  src: url('./../../assets/Fonts/길벗.woff') format('woff');
}

@font-face {
  font-family: '램체';
  src: url('./../../assets/Fonts/램체.woff2') format('woff2');
}

@font-face {
  font-family: '영도바다체';
  src: url('./../../assets/Fonts/영도바다체.woff') format('woff');
}

@font-face {
  font-family: '인천교육자람체';
  src: url('./../../assets/Fonts/인천교육자람체.woff2') format('woff2');
}

@font-face {
  font-family: '태백은하수체';
  src: url('./../../assets/Fonts/태백은하수체.woff2') format('woff2');
}

@font-face {
  font-family: '평창평화체';
  src: url('./../../assets/Fonts/평창평화체.woff2') format('woff2');
}

@font-face {
  font-family: '학교안심우주';
  src: url('./../../assets/Fonts/학교안심우주.woff2') format('woff2');
}

@font-face {
  font-family: '한글재민체';
  src: url('./../../assets/Fonts/한글재민체.woff2') format('woff2');
}
