@use './../../constants/constants' as *;
@use '_reset' as *;
@mixin flex($direction: row, $justify: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  user-select: none;
}

%side {
  width: calc(($img-width - $img-height) / 2);
}

.container {
  width: $img-width;
  height: $img-height;
  background-color: white;
  @include flex;
}

.header {
  height: 100%;
  @extend %side;
  @include flex(column);
}

.main {
  width: $img-height;
  height: 100%;
  position: relative;
}

.footer {
  @extend %side;
  position: relative;
  height: 100%;
  .dev {
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-style: italic;
  }
}

.character {
  @include flex;
  position: absolute;
  width: $character-width;
  height: $character-height;
  border-radius: 50%;
  border: none;
  overflow: visible;
  transition: top $animation-duration ease, left $animation-duration ease;
  &:focus-visible {
    outline: none;
  }
}

.fadein {
  animation: fade-in ease $animation-duration;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    33% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.context-menu-container {
  @include flex(column);
  position: fixed;
  z-index: 1;
  border-radius: 0.5em;
  border: none;
  overflow: hidden;
  min-width: 10em;
  background-color: white;
}

.name {
  border: none;
  text-align: center;
  pointer-events: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.context-menu {
  border: none;

  border-top: 1px solid grey;
  background-color: transparent;
  width: 100%;
  padding: 0 2em;
  text-align: left;
  height: 1.5em;
  &:focus-visible {
    outline: none;
  }
  &:first-child {
    border: none;
    margin-top: 0.5em;
  }

  &:last-child {
    margin-bottom: 0.5em;
  }
}

.canvas {
  display: block;
  pointer-events: none;
}

.add-form {
  @include flex;
}

.add-input-field {
  &:focus {
    outline: none;
  }
}

.selected {
  background-color: gray;
}
