@use './../../constants/constants' as *;
@use '_reset' as *;
@use '_fonts' as *;
@mixin flex($direction: row, $justify: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  user-select: none;
  font-size: 16px;
}

%side {
  width: calc(($img-width - $img-height) / 2);
}

.container {
  width: $img-width;
  height: $img-height;
  background-color: white;
  background-size: cover;
  @include flex;
  text-align: center;
}

.header {
  height: 100%;
  @extend %side;
  @include flex(column);
}

.main {
  width: $img-height;
  height: 100%;
  position: relative;
}

.footer {
  @extend %side;
  position: relative;
  height: 100%;
  .dev {
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bolder;
    -webkit-text-stroke: 0.5px white;
  }
}

.character {
  @include flex;
  position: absolute;
  width: $character-width;
  height: $character-height;
  border-radius: 50%;
  border: none;
  overflow: visible;
  transition: top $animation-duration ease, left $animation-duration ease;
  &:focus-visible {
    outline: none;
  }
}

.fadein {
  animation: fade-in ease $animation-duration;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    33% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.context-menu-container {
  @include flex(column);
  position: fixed;
  z-index: 1;
  border-radius: 0.5em;
  border: none;
  overflow: hidden;
  min-width: 10em;
  background-color: white;
}

.name {
  border: none;
  text-align: center;
  pointer-events: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.context-menu {
  border: none;

  border-top: 1px solid grey;
  background-color: transparent;
  width: 100%;
  padding: 0 2em;
  text-align: left;
  height: 1.5em;
  &:focus-visible {
    outline: none;
  }
  &:first-child {
    border: none;
    margin-top: 0.5em;
  }

  &:last-child {
    margin-bottom: 0.5em;
  }
}

.canvas {
  display: block;
  pointer-events: none;
}

.add-form {
  @include flex;
}

.add-input-field {
  &:focus {
    outline: none;
  }
}

.selected {
  background-color: gray;
}

.filebox {
  .upload-name {
    display: inline-block;
    height: 2em;
    padding: 0 1em;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 10em;
    color: #999999;
  }

  label {
    display: inline-block;
    padding: 0.5em 1em;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 2em;
    margin-left: 0.5em;
  }

  input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }
}

.imgSelect {
  height: 5em;
  width: 9em;
}
