@use './../../constants/constants' as *;
@use '_reset' as *;
@use '_fonts' as *;
@mixin flex($direction: row, $justify: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  padding: 0 3em;
  margin-bottom: 2em;
  > div {
    margin-bottom: 0.5em;
  }
  > legend {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  label {
    display: inline-block;
    width: 5em;
    padding-right: 1em;
  }
  input:not([type='radio']),
  select {
    width: 10em;
  }
  input {
    vertical-align: middle;
    &[type='color'] {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background: none;
      border: 0;
      padding: 0;
      height: 2em;
      width: 2em;
    }
    &[type='radio'] {
      font-size: inherit;
      width: 1em;
      height: 1em;
      margin: none;
    }
  }
}

:root {
  user-select: none;
  font-size: 16px;
}

%side {
  width: calc(($img-width - $img-height) / 2);
}

.container {
  border: 1px solid black;
  width: $img-width;
  height: $img-height;
  background-color: white;
  background-size: cover;
  @include flex;
  text-align: center;
}

.header {
  height: 100%;
  @extend %side;
  @include flex(column);
}

.main {
  width: $img-height;
  height: 100%;
  position: relative;
}

.footer {
  @extend %side;
  position: relative;
  height: 100%;
  .dev {
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bolder;
    -webkit-text-stroke: 0.5px white;
  }
}

.character {
  @include flex;
  position: absolute;
  width: $character-width;
  height: $character-height;
  border-radius: 50%;
  border: none;
  overflow: visible;
  transition: top $animation-duration ease, left $animation-duration ease;
  &:focus-visible {
    outline: none;
  }
}

.fadein {
  animation: fade-in ease $animation-duration;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    33% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.context-menu-container {
  @include flex(column);
  position: fixed;
  z-index: 1;
  border-radius: 0.5em;
  border: none;
  overflow: hidden;
  min-width: 10em;
  background-color: white;
}

.name {
  border: none;
  text-align: center;
  pointer-events: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.context-menu {
  border: none;

  border-top: 1px solid grey;
  background-color: transparent;
  width: 100%;
  padding: 0 2em;
  text-align: left;
  height: 1.5em;
  &:focus-visible {
    outline: none;
  }
  &:first-child {
    border: none;
    margin-top: 0.5em;
  }

  &:last-child {
    margin-bottom: 0.5em;
  }
}

.canvas {
  display: block;
  pointer-events: none;
}

.add-form {
  > div {
    display: inline-flex;
  }
  @include flex;
  gap: 1em;
}

.add-input-field {
  &:focus {
    outline: none;
  }
}

.selected {
  background-color: gray;
}

.filebox {
  .upload-name {
    display: inline-block;
    height: 2em;
    padding: 0 1em;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 10em;
    color: #999999;
  }

  label {
    display: inline-block;
    padding: 0.5em 1em;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 2em;
    margin-left: 0.5em;
    text-align: center;
  }

  input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }
}

.imgSelect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 19em;
  gap: 1em;
  > div {
    flex-grow: 0;
    flex-shrink: 0;
    height: 5em;
    width: 9em;
    border-radius: 0.5em;
    background-size: cover;
  }
}

.selector {
  padding: 0;
  margin-bottom: 0.5em;
  > :first-child {
    margin-bottom: 0.5em;
    label {
      width: 4em;
    }
  }
}
.main-container {
  @include flex;
  align-items: flex-start;
  padding: 1em;
}
form {
  order: 2;
  width: 40vw;
}

.main-direct-container {
  @include flex;
  width: 70vw;
}
h1 {
  display: block;
  text-align: center;
  font-size: 3em;
  margin: 1em 0 2em;
}
