@import './../../constants/constants.scss';

.character {
  position: absolute;
  width: $character-width;
  height: $character-height;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: top $animation-duration, left $animation-duration;
  transition-timing-function: ease-out;
  &:focus-visible {
    outline: none;
  }
}

.highlight {
  background-color: rgba(255, 255, 0, 0.75);
}

.fadein {
  animation: fade-in ease-in $animation-duration;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    33% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.contexts {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  min-width: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.name {
  max-width: 100%;
  background-color: transparent;
  border: none;
  user-select: none;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.contextMenu {
  border: none;
  text-align: left;
  border-top: 1px solid grey;
  width: 100%;
  height: 1.5em;
  &:focus-visible {
    outline: none;
  }
  &:first-child {
    border: none;
  }
}
