@import './../../constants/constants.scss';

.character {
  position: absolute;
  width: $character-width;
  height: $character-height;
  border-radius: 50%;
}

.contexts {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
