.container {
  width: 1200px;
  height: 630px;
  display: flex;
  flex-direction: row;
  // test
  background-color: skyblue;
}

%side {
  width: 285px;
}

.header {
  @extend %side;
}

.main {
  width: 630px;
  position: relative;
  // test
  background-color: blue;
}

.footer {
  @extend %side;
}
