@import './../../constants/constants.scss';

.container {
  width: $img-width;
  height: $img-height;
  display: flex;
  flex-direction: row;
  // test
  background-color: skyblue;
}

%side {
  width: ($img-width - $img-height) / 2;
}

.header {
  @extend %side;
}

.main {
  width: $img-height;
  position: relative;
  // test
  background-color: blue;
}

.footer {
  @extend %side;
}
