$img-width: 1200px;
$img-height: 675px;
$img-padding: 30px;
$character-width: 50px;
$character-height: 50px;
$point-size: 3px;
$point-position: 10px;
$point-margin: 10px;
$animation-duration: 0.5s;
$arrow-head-angle: 30deg;
$arrow-head-size: 5px;
