.character {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: top 0.5s, left 0.5s;
  transition-timing-function: ease-in-out;
  animation: fade-in ease-in-out 0.5s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contexts {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  min-width: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.name {
  max-width: 100%;
  background-color: transparent;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
}
.name:focus {
  outline: none;
}

.contextMenu {
  border: none;
  text-align: left;
  border-top: 1px solid grey;
  width: 100%;
  height: 1.5em;
}
.contextMenu:first-child {
  border: none;
}