.container {
  width: 1200px;
  height: 675px;
  display: flex;
  flex-direction: row;
  background-color: skyblue;
}

.footer, .header {
  width: 262.5px;
}

.main {
  width: 675px;
  position: relative;
  background-color: blue;
}