@charset "UTF-8";
* {
  box-sizing: border-box;
  word-break: keep-all;
}

:root,
.root,
body,
html {
  width: 100%;
  height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  vertical-align: middle;
}
input:focus {
  outline: none;
}

@font-face {
  font-family: "Arial";
  src: url("./../../assets/fonts/Arial.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "Arial Black";
  src: url("./../../assets/fonts/ArialBlack.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "EBS훈민정음";
  src: url("./../../assets/fonts/EBS훈민정음.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "건축조각체";
  src: url("./../../assets/fonts/건축조각체.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: "기후위기";
  src: url("./../../assets/fonts/기후위기.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: "길벗";
  src: url("./../../assets/fonts/길벗.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "램체";
  src: url("./../../assets/fonts/램체.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: "영도바다체";
  src: url("./../../assets/fonts/영도바다체.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "인천교육자람체";
  src: url("./../../assets/fonts/인천교육자람체.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: "코트라";
  src: url("./../../assets/fonts/코트라.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "태백은하수체";
  src: url("./../../assets/fonts/태백은하수체.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: "평창평화체";
  src: url("./../../assets/fonts/평창평화체.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: "학교안심산뜻돋움";
  src: url("./../../assets/fonts/학교안심산뜻돋움.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "학교안심우주";
  src: url("./../../assets/fonts/학교안심우주.woff2") format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: "한글재민체";
  src: url("./../../assets/fonts/한글재민체.woff2") format("woff2");
  font-display: fallback;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 576px) {
  :root {
    font-size: 8px;
  }
  :root .main-container {
    flex-direction: column;
  }
}
fieldset {
  padding: 0 3em;
  margin-bottom: 2em;
}
fieldset > div {
  margin-bottom: 0.5em;
}
fieldset > legend {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
fieldset label {
  display: inline-block;
  width: 5em;
  padding-right: 1em;
}
fieldset input:not([type=radio]),
fieldset select {
  width: 10em;
  cursor: pointer;
}
fieldset input:not([type=radio]) option,
fieldset select option {
  cursor: pointer;
}
fieldset input {
  vertical-align: middle;
}
fieldset input[type=color] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
  height: 2em;
  width: 2em;
}
fieldset input[type=radio] {
  cursor: pointer;
  font-size: inherit;
  width: 1em;
  height: 1em;
  margin: none;
}

:root {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.footer, .header {
  width: 262.5px;
}

.container {
  border: 1px solid black;
  width: 1200px;
  height: 675px;
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 675px;
  height: 100%;
  position: relative;
}

.footer {
  position: relative;
  height: 100%;
}
.footer .dev {
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 1.5em;
  font-weight: bolder;
  -webkit-text-stroke: 0.5px white;
}

.character {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  overflow: visible;
  transition: top 0.5s ease, left 0.5s ease;
}
.character:focus-visible {
  outline: none;
}

.fadein {
  animation: fade-in ease 0.5s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.context-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-radius: 0.5em;
  border: none;
  overflow: hidden;
  min-width: 10em;
  background-color: white;
}

.name {
  border: none;
  text-align: center;
  pointer-events: none;
  background-color: transparent;
}
.name:focus {
  outline: none;
}

.context-menu {
  border: none;
  border-top: 1px solid grey;
  background-color: transparent;
  width: 100%;
  padding: 0 2em;
  text-align: left;
  height: 1.5em;
}
.context-menu:focus-visible {
  outline: none;
}
.context-menu:first-child {
  border: none;
  margin-top: 0.5em;
}
.context-menu:last-child {
  margin-bottom: 0.5em;
}

.canvas {
  display: block;
  pointer-events: none;
}

.action-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.action-form > * {
  box-shadow: 0.2rem 0.2rem 0.7rem 0.1rem rgba(0, 0, 0, 0.3);
}
.action-form > *:hover, .action-form > *:focus {
  outline: none;
  box-shadow: 0.2rem 0.2rem 0.7rem 0.1rem rgba(0, 0, 0, 0.5);
}
.action-form > div {
  border-radius: 1rem;
  display: inline-flex;
  background-color: transparent;
}
.action-form > div input {
  border: 1px solid #4477ee;
  border-radius: 1rem 0 0 1rem;
}
.action-form > div button {
  border-radius: 0 1rem 1rem 0;
}
.action-form button {
  height: 3rem;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  padding: 0 1.5em;
  background-color: #4477ee;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
}
.action-form a,
.action-form image {
  background-color: transparent;
  border-radius: 1em;
  height: 3em;
}

.filebox .upload-name {
  display: inline-block;
  height: 2em;
  padding: 0 1em;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 10em;
  color: #999999;
}
.filebox label {
  display: inline-block;
  padding: 0.5em 1em;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 2em;
  margin-left: 0.5em;
  text-align: center;
}
.filebox input[type=file] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.imgSelect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 19em;
  gap: 1em;
}
.imgSelect .bgimgs {
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  height: 5em;
  width: 9em;
  border-radius: 0.5em;
  background-size: cover;
  background-repeat: no-repeat;
}

.selector {
  padding: 0;
  margin-bottom: 0.5em;
}
.selector > :first-child {
  margin-bottom: 0.5em;
}
.selector > :first-child label {
  width: 4em;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  overflow: visible;
  padding: 1em;
}

form {
  order: 2;
  width: 40vw;
}

.main-direct-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

h1 {
  display: block;
  text-align: center;
  font-size: 3em;
  margin: 1em 0 2em;
}

.nf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.nf h1 {
  display: block;
  text-align: center;
  font-size: 3em;
  margin: 1em 0 2em;
  background-color: black;
}

.fof {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fof h1 {
  margin: 0;
}
.fof h2 {
  margin: 1rem 0 1em;
  font-size: 2em;
}
.fof a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: white;
  background-color: #252532;
  padding: 1em;
  border: 1px solid #253532;
  border-radius: 0.5em;
  vertical-align: middle;
}
.fof a:hover {
  background-color: white;
  color: #252532;
}

.add-input-field {
  color: black;
  padding: 1em;
}
.add-input-field:focus {
  outline: none;
}/*# sourceMappingURL=Landing.css.map */